<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RailScale.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RailScale.Properties.Settings.FerroviaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Ferrovia.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RailScale.Properties.Settings>
            <setting name="butIscriviti" serializeAs="String">
                <value>butAccedi</value>
            </setting>
            <setting name="butAccedi" serializeAs="String">
                <value>butAccediLogIn</value>
            </setting>
            <setting name="exitForm" serializeAs="String">
                <value>exitForm</value>
            </setting>
            <setting name="exit" serializeAs="String">
                <value>exitForm</value>
            </setting>
            <setting name="nomeReg" serializeAs="String">
                <value />
            </setting>
            <setting name="passReg" serializeAs="String">
                <value />
            </setting>
            <setting name="emailReg" serializeAs="String">
                <value />
            </setting>
            <setting name="ctrlEmailReg" serializeAs="String">
                <value />
            </setting>
            <setting name="cognomeReg" serializeAs="String">
                <value />
            </setting>
            <setting name="butRegistra" serializeAs="String">
                <value>butRegistra</value>
            </setting>
            <setting name="but_Accedi" serializeAs="String">
                <value>butAccedi</value>
            </setting>
            <setting name="Accedi" serializeAs="String">
                <value>Accedi</value>
            </setting>
            <setting name="ctrlPassReg" serializeAs="String">
                <value />
            </setting>
            <setting name="pesatura_btn" serializeAs="String">
                <value>carro_btn</value>
            </setting>
            <setting name="treni_btn" serializeAs="String">
                <value>treni_btn</value>
            </setting>
            <setting name="prodotto_btn" serializeAs="String">
                <value>products_btn</value>
            </setting>
            <setting name="saluta_utente" serializeAs="String">
                <value>saluta_utente</value>
            </setting>
            <setting name="carro_btn" serializeAs="String">
                <value>carro_btn</value>
            </setting>
            <setting name="rails_btn" serializeAs="String">
                <value>rails_btn</value>
            </setting>
            <setting name="products_btn" serializeAs="String">
                <value>products_btn</value>
            </setting>
            <setting name="secPesa_btn" serializeAs="String">
                <value>secPesa_btn</value>
            </setting>
            <setting name="editCarro" serializeAs="String">
                <value>editCarro</value>
            </setting>
            <setting name="cancDati" serializeAs="String">
                <value>cancCarro</value>
            </setting>
            <setting name="comboBoxProdotto" serializeAs="String">
                <value>comboBoxProdotto</value>
            </setting>
            <setting name="comboBoxIdCarro" serializeAs="String">
                <value>comboBoxIdCarro</value>
            </setting>
        </RailScale.Properties.Settings>
    </userSettings>
</configuration>